<div class="container">

  <div class="main-content">

    <!-- Statistika -->
    <div class="stats">
      <div class="stat-card">
        <h4>Ukupan broj vikendica</h4>
        <p>{{numberCottages}}</p>
      </div>
      <div class="stat-card">
        <h4>Ukupan broj vlasnika</h4>
        <p>{{numberOwners}}</p>
      </div>
      <div class="stat-card">
        <h4>Ukupan broj turista</h4>
        <p>{{numberTourists}}</p>
      </div>
      <div class="stat-card">
        <h4>Rezervisane vikendice (24h)</h4>
        <p>{{reservations24h}}</p>
      </div>
      <div class="stat-card">
        <h4>Rezervisane vikendice (7 dana)</h4>
        <p>{{reservations7d}}</p>
      </div>
      <div class="stat-card">
        <h4>Rezervisane vikendice (30 dana)</h4>
        <p>{{reservations30d}}</p>
      </div>
    </div>

    <h2>Sve vikendice</h2>
    <table>
      <thead>
        <tr>
          <th>Naziv</th>
          <th>Mesto</th>
        </tr>
      </thead>
      <tbody>
        @for(c of cottages; track c.naziv){
        <tr>
          <td>{{c.naziv}}</td>
          <td>{{c.mesto}}</td>
        </tr>
        }
      </tbody>
    </table>

    <div class="sort-buttons">
      <button (click)="sortByMestoAsc()">Sortiraj rastuće po mestu</button>
      <button (click)="sortByMestoDesc()">Sortiraj opadajuće po mestu</button>
      <button (click)="sortByNazivAsc()">Sortiraj rastuće po nazivu</button>
      <button (click)="sortByNazivDesc()">Sortiraj opadajuće po nazivu</button>
    </div>

    <h3>Pretraga vikendica</h3>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchNaziv" placeholder="Pretraga po nazivu">
      <input type="text" [(ngModel)]="searchMesto" placeholder="Pretraga po mestu">
      <button (click)="search()">Pretraži</button>
    </div>

    <div *ngIf="filteredCottages.length > 0">
      <h3>Rezultati pretrage</h3>
      <table>
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Mesto</th>
          </tr>
        </thead>
        <tbody>
          @for(c of filteredCottages; track c.naziv){
          <tr>
            <td>{{c.naziv}}</td>
            <td>{{c.mesto}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <br>
    <button (click)="back()">Nazad</button>
  </div>
  
</div>

