.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
}

.stat-card {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 150px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.stat-card h4 {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #555;
}

.stat-card p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #222;
}
/* main-content */
.main-content {
  padding: 20px;
}

/* tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #3b5998;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333;
}

.stars{
    color:orange

}


.sort-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sort-buttons button {
  background-color: #3b5998;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.sort-buttons button:hover {
  background-color: #2d4373;
}
