<div class="container">
  <div class="sidebar">
    <app-meni></app-meni>
  </div>

  <div class="main-content">
    <h2>Sve vikendice</h2>
    <table>
      <thead>
        <tr>
          <th>Naziv</th>
          <th>Mesto</th>
        </tr>
      </thead>
      <tbody>
        @for(c of cottages; track c.naziv){
        <tr>
          <td><a [routerLink]="['/cottage', c.naziv]">{{c.naziv}}</a></td>
          <td>{{c.mesto}}</td>
        </tr>
        }
      </tbody>
    </table>
    <div class="sort-buttons">
        <button (click)="sortByMestoAsc()">Sortiraj rastuće po mestu</button>
        <button (click)="sortByMestoDesc()">Sortiraj opadajuće po mestu</button>
        <button (click)="sortByNazivAsc()">Sortiraj rastuće po nazivu</button>
        <button (click)="sortByNazivDesc()">Sortiraj opadajuće po nazivu</button>
    </div>

    
    <h3>Pretraga vikendica</h3>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchNaziv" placeholder="Pretraga po nazivu">
      <input type="text" [(ngModel)]="searchMesto" placeholder="Pretraga po mestu">
      <button (click)="search()">Pretraži</button>
    </div>

    
    <div *ngIf="filteredCottages.length > 0">
      <h3>Rezultati pretrage</h3>
      <table>
        <thead>
          <tr>
            <th>Naziv</th>
            <th>Mesto</th>
            <th>Prosečna ocena</th>
          </tr>
        </thead>
        <tbody>
          @for(c of filteredCottages; track c.naziv){
          <tr>
            <td><a [routerLink]="['/cottage', c.naziv]">{{c.naziv}}</a></td>
            <td>{{c.mesto}}</td>
            <td>
              {{getAverage(c.ocene)| number:'1.2-2'}} / 5
              <span class="stars">{{getStars(c.ocene)}}</span>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
