/* main-content */
.main-content {
  padding: 20px;
}

/* tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #3b5998;
  color: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333;
}

.stars{
    color:orange

}


.sort-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.sort-buttons button {
  background-color: #3b5998;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.sort-buttons button:hover {
  background-color: #2d4373;
}
