<div class="password-change-container">
  <h2>Promeni lozinku</h2>
  
  <div class="password-change-form">
    
    <!-- Korisničko ime -->
    <div class="form-group">
      <label for="username">Korisničko ime</label>
      <input id="username" type="text" name="username" [(ngModel)]="username">
    </div>

    <!-- Stara lozinka -->
    <div class="form-group">
      <label for="oldPass">Stara lozinka</label>
      <input id="oldPass" type="password" name="oldPass" [(ngModel)]="oldPass">
    </div>

    <!-- Nova lozinka -->
    <div class="form-group">
      <label for="newPass">Nova lozinka</label>
      <input id="newPass" type="password" name="newPass" [(ngModel)]="newPass">
    </div>

     <!-- Ponovljena lozinka -->
    <div class="form-group">
      <label for="newPass">Nova lozinka</label>
      <input id="newPass" type="password" name="newPassAgain" [(ngModel)]="newPassAgain">
    </div>

    <!-- Submit dugme -->
    <button class="submit-btn" (click)="passwordChange()">
      Promeni lozinku
    </button>

    <!-- Poruka -->
    <div class="message">
      {{message}}
    </div>
  </div>

  <hr/>
  
  <div class="links">
    <a routerLink="/loginAdmin">Nazad na prijavu</a>
  </div>
</div>